
#power
  #powerLevel
    &nbsp;
#game_board
  #debug
#timer
  #timerLevel
    &nbsp;
    
#menu
  #startScreen
    Welcome to TouchAttack!
    #levels
      #level1start
        Level 1
      #level2start
        Level 2
  #Level
    Level 1
  #Thr 3
  #Two 2
  #One 1
  #GO GO!
  
#results
  #resultsScreen
    %span.resultDescription
      You made it out with:
    #score
      %span#blocked 20
      %span /
      %span#total 30
    #reload
      RELOAD
