#warning
  #warningText
    Loading...

#game
  #power
    #powerLevel
      &nbsp;
  #game_board
    #debug
  #timer
    #timerLevel
      &nbsp;
    
  #menu
    #startScreen
      #welcome Welcome to TouchAttack!
      #instructions
        Hit the blocks before they hit you!
      #levels
        #level1start.level
          1
        #level2start.level
          2
        #level3start.level
          3
        #level4start.level
          4
        #level5start.level
          5
        #level6start.level
          6
        #level7start.level
          7
        #level8start.level
          8
        #level9start.level
          9
        #level10start.level
          10
      #createdBy 
        created by James Pozdena
    #Level
      Level 1
    #Thr 3
    #Two 2
    #One 1
    #GO GO!
  
  #results
    #resultsScreen
      %span.resultDescription
        You made it out with:
      #score
        %span#blocked 116
        %span /
        %span#total 116
      #reload
        RELOAD
