@font-face { font-family: Sansation; src: url('/Sansation_Bold.ttf'); } 

@-webkit-keyframes shrink {
    0% {
      width: 80px;
      height: 80px;
      margin: 0px;
    }

    100% {
      width: 0px;
      height: 0px;
      margin: 40px;
    } 
}

@-webkit-keyframes grow {
    0% {
      width: 0px;
      height: 0px;
      margin: 40px;
    }

    100% {
      width: 80px;
      height: 80px;
      margin: 0px;
    } 
}

@-webkit-keyframes growup {
    0% {
      width: 0px;
      height: 0px;
      margin: 40px;
    }

    100% {
      width: 80px;
      height: 80px;
      margin: -80px 0px 0px 0px;
    } 
}


@-webkit-keyframes growdown {
    0% {
      width: 0px;
      height: 0px;
      margin: 40px;
    }

    100% {
      width: 80px;
      height: 80px;
      margin: 80px 0px 0px 0px;
    } 
}

@-webkit-keyframes growleft {
    0% {
      width: 0px;
      height: 0px;
      margin: 40px;
    }

    100% {
      width: 80px;
      height: 80px;
      margin: 0px 0px 0px -80px;
    } 
}

@-webkit-keyframes growright {
    0% {
      width: 0px;
      height: 0px;
      margin: 40px;
    }
    
    100% {
      width: 80px;
      height: 80px;
      margin: 0px 0px 0px 80px;
    } 
}



body {
  overflow:hidden;
}

body, html {
  background: black;
}

* {
  font-family: 'Arial Rounded MT Bold';
  margin: 0px;
  padding: 0px;
}

#game {
  display: none;
}

#timer, #power {
  position: absolute; 
  width: 480px; 
  height: 10px;
  background: #D2D2D2;
  line-height: 10px;
}

#warning {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%; 
  height: 100%;
  background: black;
  color: white;
  z-index: 1000;
  padding: 30px
}

#warning #warningText {
  width: 80%;
}

#timer {
  top: 290px; 
}

#power {
  top: 0px;
}

#powerLevel {
  background-color: #51B45B;
  width: 0%;
  -webkit-transition-property: width, background-color;
  -webkit-transition-duration: 0.2s;
}

#timerLevel {
  float: right;
  background-color: #848883;
  width: 100%;
  -webkit-transition-property: width, background-color;
  -webkit-transition-duration: 32.5s;
}

#game_board {
  position: absolute;
  top: 10px;
  width: 480px;
  height: 280px;
  background: #262626;
  -webkit-user-select: none;
}

#debug {
  width: 480px;
  height: 10px;
  font-size: 9px;
  background: #FFF;
  display: none;
}

#menu, #results{
  position: absolute;
  top:-390px;
  left:0px;
  width: 480px;
  -webkit-transition-property: top;
  -webkit-transition-duration: 0.75s;
}
#menu {
  top:0px;
}
#menu #startScreen, #results #resultsScreen {
  position: relative;
  top:60px;
  background: black;
  width: 390px;
  margin: 0px auto;
  color: #E4E4E4;
  padding: 10px;
  height: 150px;
}
#menu #startScreen #instructions {
  font-size: 14px;
  color:#929292;
}
#menu #startScreen #levels {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
}
#menu #startScreen #levels .level{
  width: 50px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  color: white;
  margin: 5px 10px;
  text-align: center;
  background: #51B45B;
}

#menu #startScreen #levels .disabled{
  color: #727272;
  background: #262626;
}

#menu #startScreen #level2start{
  top:40px;
}
#createdBy {
  font-size: 14px;
  color:#929292;
  text-align: right;
}
#Level, #Thr, #Two, #One, #GO {
  position: absolute;
  font-size: 60px;
  margin: 0px auto;
  width: 480px;
  text-align:center;
}

#Level{
  color: #5E84BE;
  top: 390px;
}
#Thr{
  color: #DE4448;
  top: 710px;
}
#Two{
  color: #DECE67;
  top: 1040px;
}
#One{
  color: #51B45B;
  top: 1360px;
}
#GO{
  color: white;
  top: 1700px;
}
#results {
  top: -390px;
}
#results #resultsScreen #score {
  width: 390px;
  text-align: right;
  font-size: 80px;
  line-height: 105px;
}
#results #resultsScreen #score span {
  padding: 0px;
  margin: 0px;
}
#results #resultsScreen #score #blocked {
  color: #DECE67;
}
#results #resultsScreen #score #total {
  color: #51B45B;
}
#results #resultsScreen #reload {
  width: 150px;
  padding: 5px;
  color: white;
  margin: 0px 0px 0px 225px;
  text-align: center;
  background: #5E84BE;
}